<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClickerUT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoClickerUT.Properties.Settings>
            <setting name="textBox1" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="textBox4" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="comboBox1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBox2" serializeAs="String">
                <value>1</value>
            </setting>
        </AutoClickerUT.Properties.Settings>
    </userSettings>
</configuration>